{name, "simple_bridge"}.
{authors, ["Rusty Klophaus <rklophaus@gmai.com>"]}.
{description, "SimpleBridge provides a simple, standardized interface to Erlang HTTP Servers"}.
{homepage, "https://github.com/nitrogen/simple_bridge"}.
{rebar_compatible, true}.
{license, "MIT", "MIT-LICENSE"}.
{url, {git, "https://github.com/nitrogen/simple_bridge.git", {branch, "master"}}}.
{applications, [simple_bridge]}.
