{name, "simple_bridge"}.
{authors, ["Rusty Klophaus <rklophaus@gmai.com>"]}.
{description, "SimpleBridge provides a simple, standardized interface to Erlang HTTP Servers"}.
{homepage, "https://github.com/nitrogen/simple_bridge"}.
{license, "MIT", "MIT-LICENSE"}.
{url, {git, "https://github.com/nitrogen/simple_bridge.git", {tag, "v1.1.0"}}}.
{applications, [simple_bridge]}.
{build_command, "make"}.
